<script type="text/javascript" language="javascript">
//<!--
function initRouter() {
	var val="<?echo $wlanipmode>";
	$('#hwaddr').data('defmac', '<? echo $client_hwaddr; >');
	selectRadio("wlanipmode", val);
	chooseIPMode(parseInt(val));
	dhcpdStatusClicked();
	dhcpdDnsproxyClicked();
	dmzStatusClicked();
        natStatusClicked();
	hwaddrStatusClicked();
	var igmp = document.getElementById("igmp_status");
	statusClicked(igmp,new Array('igmp_upstream'));
	togglePortForward();
	toggleFirewall();
        toggleVLAN();
	$('.pwd').attr('autocomplete', 'off').passwd({
		label :  "<?echo dict_translate("Show");>",
		migrate_attrs : [ 'req', 'callback', 'realname' ]
	});
}
function togglePortForward() {
	var checkbox = document.getElementById("port_forward_status");
	var button = document.getElementById("port_forward_configure");
	if (checkbox && button) {
		button.disabled = !checkbox.checked;
	}
}

function doSubmit() {
	$('#router_form').submit();
}

jQuery(document).ready(initRouter);

//-->
</script>

  <tr>
    <td colspan="2" class="centr">
    <?if (cfg_is_modified($cfg_file)) { include("lib/modified.tmpl"); } include("lib/error.tmpl");>
    <br>
    <form enctype="multipart/form-data" id="router_form" action="network.cgi" method="POST" onSubmit="return validateStandard(this, 'error');">
    <table class="linktable" cellspacing="0" cellpadding="0">
	<tr><th colspan="4"><? echo dict_translate("Network Role"); ></th></tr>
	<tr><td colspan="4" class="tdpad">&nbsp;</td></tr>
	<tr><td class="f"><? echo dict_translate("Network Mode:"); ></td>
	<td colspan="3">
	<? include("lib/netmode.tmpl"); >
	</td>
        </tr>
	<tr><td class="f"><? echo dict_translate("Disable Network:"); ></td>
	<td colspan="3">
	<select id="ifcdisable" name="ifcdisable" style="width:145px">
	<option value="0" selected><? echo dict_translate("None"); ></option>
	<option value="1" <? if ($ifcdisable == 1) { > selected <? } >><? echo dict_translate("LAN"); ></option>
	<option value="2" <? if ($ifcdisable == 2) { > selected <? } >><? echo dict_translate("WLAN"); ></option>
        <? if ($netmode == "soho") { >
	<option value="4" <? if ($ifcdisable == 4) { > selected <? } >><? echo dict_translate("WAN"); ></option>
        <? } >
	</select>
	</td>
	</tr>

	<!-- WLAN address assignment -->
	<tr><td colspan="4" class="tdpad">&nbsp;</td></tr>
	<tr><th colspan="4"><? echo dict_translate("WLAN Network Settings"); ></th></tr>
	<tr><td colspan="4" class="tdpad">&nbsp;</td></tr>
	<tr><td class="f d"><? echo dict_translate("IP Address:"); ></td>
		<td class="d"><input type="text" style="width: 145px;" name="wlanip" id="wlanip" value="<?echo $wlanip>" req="1" callback="validateLanIP" realname="<? echo dict_translate("WLAN IP Address"); >"/></td>
		<td class="f d"><? echo dict_translate("Auto IP Aliasing:"); ></td>
		<td class="d"><input type="checkbox" name="autoip_lan_status" id="autoip_lan_status" value="enabled" <? if ($autoip_lan_status=="enabled") { echo "checked"; }> /></td>
	</tr>
	<tr><td class="f d"><? echo dict_translate("Netmask:"); ></td>
		<td><input type="text" style="width: 145px;" name="wlanmask" id="wlanmask" value="<?echo $wlanmask>" req="1" callback="validateLanNetmask" realname="<? echo dict_translate("WLAN Netmask"); >"/></td>
		<td class="f d"><? echo dict_translate("IP Aliases:"); ></td>
		<td><input type="button" id="ipalias_configure" name="ipalias_configure"
	  	value="<? echo dict_translate("Configure..."); >"
	  	onClick="return openPage('ipalias.cgi?iface=<? echo $lan_iface;>',720,330);" /></td>
	</tr>
	<tr><td class="f"><? echo dict_translate("Enable NAT:"); ></td>
		<td colspan="3"><input type="checkbox" name="nat_status" id="nat_status" <? if ($nat_status=="enabled") { echo "checked"; }> onClick="natStatusClicked();"></td>
	</tr>
        <tr class="nat"><td class="f"><? echo dict_translate("Enable NAT Protocol:"); ></td>
  	<td colspan="3">
      <input type="checkbox" name="nat_sip_check" id="nat_sip_check" <? if ($nat_sip_status!="enabled") { echo "checked"; }> value="enabled">SIP &nbsp;
      <input type="checkbox" name="nat_pptp_check" id="nat_pptp_check" <? if ($nat_pptp_status!="enabled") { echo "checked"; }> value="enabled">PPTP &nbsp;
      <input type="checkbox" name="nat_ftp_check" id="nat_ftp_check" <? if ($nat_ftp_status!="enabled") { echo "checked"; }> value="enabled">FTP &nbsp;
      <input type="checkbox" name="nat_rtsp_check" id="nat_rtsp_check" <? if ($nat_rtsp_status!="enabled") { echo "checked"; }> value="enabled">RTSP
      <input type="hidden" name="nat_update_cfg" value="1" />
      	</td>
      	</tr>
      <tr><td class="f"><? echo dict_translate("MTU:"); ></td>
	<td colspan="3">
	<input type="text" class="config std_width" maxlength="5" size="5"
							id="wlan_mtu" name="wlan_mtu"
							value="<? echo $wlan_mtu;>" req="1" maxvalue="1518" minvalue="64"
							realname="<? echo dict_translate("MTU") + " [64-1518]";>">
        
        </td>
      </tr>
	<tr><td class="f"><? echo dict_translate("Enable DHCP Server:"); ></td>
	<td colspan="3"><input type="checkbox" name="dhcpd_status" id="dhcpd_status" onClick="dhcpdStatusClicked();" <? if ($dhcpd_status=="enabled") { echo "checked"; }>></td>
	</tr>
	<tr class="dhcpd"><td class="f"><? echo dict_translate("Range Start:"); ></td>
	<td colspan="3"><input type="text" class="i_dhcpd" style="width: 145px;" name="dhcpd_start" id="dhcpd_start" value="<?echo $dhcpd_start>" req="1" callback="validateDhcpdIP" realname="<? echo dict_translate("DHCP Range Start"); >"/></td>
	</tr>
	<tr class="dhcpd"><td class="f"><? echo dict_translate("Range End:"); ></td>
	<td colspan="3"><input type="text" class="i_dhcpd" style="width: 145px;" name="dhcpd_end" id="dhcpd_end" value="<?echo $dhcpd_end>" req="1" callback="validateDhcpdIP" realname="<? echo dict_translate("DHCP Range End"); >"/></td>
	</tr>
	<tr class="dhcpd"><td class="f"><? echo dict_translate("Netmask:"); ></td>
	<td colspan="3"><input type="text" class="i_dhcpd" style="width: 145px;" name="dhcpd_netmask" id="dhcpd_netmask" value="<?echo $dhcpd_netmask>" req="1" callback="validateDhcpdNetmask" realname="<? echo dict_translate("DHCP Netmask"); >"/></td>
	</tr>
	<tr class="dhcpd"><td class="f"><? echo dict_translate("Lease Time:"); ></td>
	<td colspan="3" class="f-left"><input type="text" class="i_dhcpd" style="width: 145px;" name="dhcpd_lease" id="dhcpd_lease" size="5" value="<?echo $dhcpd_lease>" req="1" minvalue="120" maxvalue="172800" realname="<? echo dict_translate("DHCP Lease Time"); > [120-172800]"/> <? echo dict_translate("seconds"); ></td>
	</tr>
	<tr class="dhcpd"><td class="f"><? echo dict_translate("Enable DNS Proxy:"); ></td>
	<td colspan="3"><input type="checkbox" class="i_dhcpd" name="dhcpd_dnsproxy_status" id="dhcpd_dnsproxy_status" onClick="dhcpdDnsproxyClicked();" value="enabled" <? if ($dhcpd_dnsproxy_status=="enabled") { echo "checked"; }>></td>
	</tr>
	<tr class="dhcpd_dns"><td class="f"><? echo dict_translate("Primary DNS:"); ></td>
	<td colspan="3"><input type="text" class="i_dhcpd_dns" style="width: 145px;" name="dhcpd_dns1" id="dhcpd_dns1" value="<?echo $dhcpd_dns1>" req="1" callback="validateDhcpdDns" realname="<? echo dict_translate("DHCP Primary DNS IP"); >"/></td>
	</tr>
	<tr class="dhcpd_dns"><td class="f"><? echo dict_translate("Secondary DNS:"); ></td>
	<td colspan="3"><input type="text" class="i_dhcpd_dns" style="width: 145px;" name="dhcpd_dns2" id="dhcpd_dns2" value="<?echo $dhcpd_dns2>" req="1" callback="validateDhcpdDns" realname="<? echo dict_translate("DHCP Secondary DNS IP"); >"/></td>
	</tr>
	<tr><td class="f"><? echo dict_translate("Port Forwarding:"); ></td>
	<td colspan="3"><input type="checkbox" name="port_forward_status"
		id="port_forward_status" onClick="togglePortForward();" value="enabled"
		<? if ($port_forward_status=="enabled") { echo "checked"; }>>
		<input type="button" id="port_forward_configure" name="port_forward_configure"
		value="<? echo dict_translate("Configure..."); >"
		onClick="return openPage('port_forward.cgi',700,550);" /></td>
	</tr>

      <!-- LAN address assignment -->
      <tr><td colspan="4" class="tdpad">&nbsp;</td></tr>
      <tr><th colspan="4"><? echo dict_translate("LAN Network Settings"); ></th></tr>
	  <tr><td colspan="4" class="tdpad">&nbsp;</td></tr>
      <tr>
        <td class="f" valign="top"><? echo dict_translate("LAN IP Address:"); ></td>
        <td colspan="3" class="f-left">
	  <input type="radio" id="dhcp" name="wlanipmode" value="1" <?if($wlanipmode==1){echo "selected";}> onClick="chooseIPMode(1);"><label for="dhcp"><? echo dict_translate("DHCP"); ></label>
	  &nbsp;<input type="radio" id="pppoe" name="wlanipmode" value="2" <?if($wlanipmode==2){echo "selected";}> onClick="chooseIPMode(2);"><label for="pppoe"><? echo dict_translate("PPPoE"); ></label>
	  &nbsp;<input type="radio" id="static" name="wlanipmode" value="0" <?if($wlanipmode==0){echo "selected";}> onClick="chooseIPMode(0);"><label for="static"><? echo dict_translate("Static"); ></label>
	</td>
	</tr>
	<tr class="static"><td class="f"><? echo dict_translate("IP Address:"); ></td>
	<td colspan="3"><input type="text" class="i_static" style="width: 145px;" name="lanip" id="lanip" value="<?echo $lanip>" req="1" callback="validateWanIP" realname="<? echo dict_translate("LAN IP address"); >"/></td>
	</tr>
	<tr class="static"><td class="f"><? echo dict_translate("Netmask:"); ></td>
	<td colspan="3"><input type="text" class="i_static" style="width: 145px;" name="lanmask" id="lanmask" value="<?echo $lanmask>" req="1" callback="validateWanNetmask" realname="<? echo dict_translate("LAN Netmask"); >"/></td>
	</tr>
	<tr class="static"><td class="f"><? echo dict_translate("Gateway IP:"); ></td>
	<td colspan="3"><input type="text" class="i_static" style="width: 145px;" name="wangw" id="wangw" value="<?echo $wangw>" req="1" callback="validateWanIP" realname="<? echo dict_translate("LAN Gateway IP"); >"/></td>
	</tr>
	<tr class="static"><td class="f"><? echo dict_translate("Primary DNS IP:"); ></td>
	<td colspan="3"><input type="text" class="i_static" style="width: 145px;" name="dns1" id="dns1" value="<?echo $dns1>" req="1" callback="validateWanIP" realname="<? echo dict_translate("Primary DNS IP"); >"/></td>
	</tr>
	<tr class="static"><td class="f"><? echo dict_translate("Secondary DNS IP:"); ></td>
	<td colspan="3"><input type="text" class="i_static" style="width: 145px;" name="dns2" id="dns2" value="<?echo $dns2>" req="1" callback="validateWlanOptIP" realname="<? echo dict_translate("Secondary DNS IP"); >"/></td>
	</tr>
	<tr class="dhcp"><td class="f"><? echo dict_translate("DHCP Fallback IP:"); ></td>
	<td colspan="3"><input type="text" class="i_dhcp" style="width: 145px;" name="fallback_ip" id="fallback_ip" value="<?echo $fallback_ip>" req="1" callback="validateFallbackIP" realname="<? echo dict_translate("DHCP Fallback IP"); >"/></td>
	</tr>
	<tr class="dhcp"><td class="f"><? echo dict_translate("DHCP Fallback NetMask:"); ></td>
	<td colspan="3"><input type="text" class="i_dhcp" style="width: 145px;" name="fallback_netmask" id="fallback_netmask" value="<?echo $fallback_netmask>" req="1" callback="validateFallbackNetMask" realname="<? echo dict_translate("DHCP Fallback NetMask"); >"/></td>
	</tr>
        <tr class="mtu"><td class="f"><? echo dict_translate("MTU:"); ></td>
	<td colspan="3">
	<input type="text" class="config std_width" maxlength="5" size="5"
							id="lan_mtu" name="lan_mtu"
							value="<? echo $lan_mtu;>" req="1" maxvalue="1518" minvalue="64"
							realname="<? echo dict_translate("MTU") + " [64-1518]";>">
        
        </td>
        </tr>
	<tr class="pppoe"><td class="f"><? echo dict_translate("PPPoE Username:"); ></td>
	<td colspan="3"><input type="text" class="i_pppoe" style="width: 145px;" name="wanppoeuser" id="wanppoeuser" value="<?echo $wanppoeuser>" req="1" callback="validateWlanPPPoE" realname="<? echo dict_translate("LAN PPPoE Username"); >"/></td>
	</tr>
	<tr class="pppoe"><td class="f"><? echo dict_translate("PPPoE Password:"); ></td>
	<td colspan="3"><input type="password" class="pwd i_pppoe" style="width: 145px;" name="wanppoepass" id="wanppoepass" value="<?echo $wanppoepass;>" autocomplete="off"/></td>
	</tr>
	<tr class="pppoe"><td class="f"><? echo dict_translate("PPPoE MTU/MRU:"); ></td>
	<td colspan="3">
	<input type="text" class="std_width i_pppoe" req="1" name="pppoemtu" id="pppoemtu" value="<? echo $pppoemtu;>" size="5" maxlength="4" maxvalue="2000" minvalue="64" realname="<? echo dict_translate("MTU") + " [64-2000]"; >">/
	<input type="text" class="std_width i_pppoe" req="1" name="pppoemru" id="pppoemru" value="<? echo $pppoemru;>" size="5" maxlength="4" maxvalue="2000" minvalue="64" realname="<? echo dict_translate("MRU") + " [64-2000]"; >">
        </td>
	</tr>
	<tr class="pppoe"><td class="f"><? echo dict_translate("PPPoE Encryption:"); ></td>
	<td colspan="3"><input type="checkbox" class="i_pppoe" name="wanpppoemppe" id="wanpppoemppe" <? if ($wanpppoemppe=="enabled") { echo "checked"; }> /></td>
	</tr>
	<tr><td class="f"><? echo dict_translate("Enable DMZ:"); ></td>
	<td colspan="3"><input type="checkbox" name="dmz_status" id="dmz_status" value="enabled" <? if ($dmz_status=="enabled") { echo "checked"; }> onClick="dmzStatusClicked();"></td>
	</tr>
	<tr class="dmz"><td class="f"><? echo dict_translate("DMZ Management Ports:"); ></td>
	<td colspan="3"><input type="checkbox" class="i_dmz" name="dmz_mgmt" id="dmz_mgmt" value="enabled" <? if ($dmz_mgmt=="enabled") { echo "checked"; }> />
	</td>
	</tr>
	<tr class="dmz"><td class="f"><? echo dict_translate("DMZ IP:"); ></td>
	<td colspan="3"><input type="text" class="i_dmz" style="width: 145px;" name="dmz_ip" id="dmz_ip" value="<?echo $dmz_ip>" req="1" callback="validateDMZIP" realname="<? echo dict_translate("DMZ IP"); >"/>&nbsp;
	</td>
	</tr>
	<tr><td class="f"><? echo dict_translate("Auto IP Aliasing:"); ></td>
	<td colspan="3"><input type="checkbox" name="autoip_wan_status" id="autoip_wan_status" value="enabled" <? if ($autoip_wan_status=="enabled") { echo "checked"; }> /></td>
	</tr>
	<tr><td class="f"><? echo dict_translate("IP Aliases:"); ></td>
	<td colspan="3"><input type="button" id="ipalias_configure" name="ipalias_configure"
	  	value="<? echo dict_translate("Configure..."); >"
	  	onClick="return openPage('ipalias.cgi?iface=<? echo $wan_iface;>',720,330);" /></td>
	</tr>
	<tr>
	<td class="f"><? echo dict_translate("Change MAC Address:"); ></td>
	<td colspan="3"><input type="checkbox" name="hwaddr_status" id="hwaddr_status" value="enabled" <? if ($hwaddr_status=="enabled") { echo "checked"; }> onClick="hwaddrStatusClicked();" /></td>
	</tr>
	<tr class="hwaddr">
	<td class="f"><? echo dict_translate("MAC Address:"); ></td>
	<td colspan="3"><input type="text" class="i_hwaddr" style="width: 145px;" name="hwaddr" id="hwaddr" value="<?echo $hwaddr>" req="1" realname="<? echo dict_translate("MAC Address"); >" callback="validateHwAddr"/></td>
	</tr>

      <tr><td colspan="4" class="tdpad">&nbsp;</td></tr>
      <tr><th colspan="4"><? echo dict_translate("VLAN Network Settings"); ></th></tr>
      <tr><td colspan="4" class="tdpad">&nbsp;</td></tr>
      
      <tr><td class="f"><? echo dict_translate("Enable VLAN:"); ></td>
	<td colspan="3"><input type="checkbox" name="vlan_status" id="vlan_status" value="enabled" <? if ($vlan_status =="enabled") { echo "checked"; }> onClick="toggleVLAN();"/></td>
      </tr>
      <tr class="vlaninfo"><td class="f"><? echo dict_translate("VLAN ID:"); ></td>
	<td colspan="3"><input type="text" name="vlan_tag" id="vlan_tag" style="width:40px" value="<? echo $vlan_tag>" maxlength="4" size="5" req="1" 
        	maxvalue="4094" minvalue="2" realname="<? echo dict_translate("VLAN ID"); > [2 - 4094]"/></td>
      </tr>
      <tr class="vlaninfo"><td class="f"><? echo dict_translate("VLAN Network:"); ></td>
      <td colspan="3">
	<select name="vlan_ifc" id="vlan_ifc" style="width:145px">
	<option value="wan" <? if ($vlan_ifc == "wan") { > selected <? } >><? if ($netmode == "soho") {echo dict_translate("WAN");} else {echo dict_translate("LAN");}></option>
	<option value="lan" <? if ($vlan_ifc == "lan") { > selected <? } >><? if ($netmode == "soho") {echo dict_translate("LAN");} else {echo dict_translate("WLAN");}></option>
	</select>
      </td>
      </tr>
      
	<!-- Multicast routing assignment -->
	<tr><td colspan="4" class="tdpad">&nbsp;</td></tr>
	<tr><th colspan="4"><? echo dict_translate("Multicast Routing Settings"); ></th></tr>
	<tr><td colspan="4" class="tdpad">&nbsp;</td></tr>
	<tr><td class="f"><? echo dict_translate("Enable Multicast Routing:"); ></td>
      <td colspan="3"><input type="checkbox" name="igmp_status" id="igmp_status" <? if ($igmp_status=="enabled") { echo "checked"; }> onClick="statusClicked(this,new Array('igmp_upstream'));"></td>
      </tr>
	<tr><td class="f"><? echo dict_translate("Multicast Upstream:"); ></td>
      <td colspan="3">
	<select name="igmp_upstream" id="igmp_upstream" style="width:145px">
	<option value="wan" <? if ($igmp_upstream == "wan") { > selected <? } >><? if ($netmode == "soho") {echo dict_translate("WAN");} else {echo dict_translate("LAN");}></option>
	<option value="lan" <? if ($igmp_upstream == "lan") { > selected <? } >><? if ($netmode == "soho") {echo dict_translate("LAN");} else {echo dict_translate("WLAN");}></option>
	</select>
      </td>
        </tr>

      <tr><td colspan="4" class="tdpad">&nbsp;</td></tr>
      <tr><th colspan="4"><? echo dict_translate("Firewall Settings"); ></th></tr>
	  <tr><td colspan="4" class="tdpad">&nbsp;</td></tr>
      <tr><td class="f"><? echo dict_translate("Enable Firewall:"); ></td>
	  <td colspan="3"><input type="checkbox" name="firewall_status"
	  	id="firewall_status" onClick="toggleFirewall();" value="enabled"
	  	<? if ($firewall_status=="enabled") { echo "checked"; }>>
	  	<input type="button" id="firewall_configure" name="firewall_configure"
	  	value="<? echo dict_translate("Configure..."); >"
	  	onClick="return openPage('firewall.cgi?netmode=<? echo $netmode;>',1000,550);" /></td>
      </tr>
	  <tr><td colspan="4" class="tdpad">&nbsp;</td></tr>
      <tr><th colspan="4"><? echo dict_translate("Static Routes"); ></th></tr>
	  <tr><td colspan="4" class="tdpad">&nbsp;</td></tr>
      <tr><td class="f"><? echo dict_translate("Static Routes:"); ></td>
	  <td colspan="3"><input type="button" id="routes_configure" name="routes_configure"
	  	value="<? echo dict_translate("Configure..."); >"
	  	onClick="return openPage('routes.cgi',900,550);" /></td>
      </tr>
	  <tr><td colspan="4" class="tdpad">&nbsp;</td></tr>
      <tr><th colspan="4">&nbsp;</th></tr>

      <tr>
		<td colspan="4" class="change"><input type="submit" value="<? echo dict_translate("Change"); >" /></td>
      </tr>
   </table>
    </form>
    </td>
  </tr>
  <tr>
    <td height="10" colspan="2" class="foot"><? echo dict_translate($oem_copyright); >
    </td>
  </tr>
</table>

</body>
</html>
